node_modules/
dist/
dev-dist/

KasirNusantara.apk

.DS_Store
Thumbs.db
*.local

android/.gradle/
android/build/
android/app/build/
android/local.properties
android/capacitor-cordova-android-plugins/
android/app/src/main/assets/public/

.tools/

dev-server.log
README.md
